.base section[role=main] {
    margin-left: 120px;
    margin-right: 120px;
}

/*#age_pic {
    border: 2px solid #fff;
    margin-left: 15px;
    float: left;
}*/

.base_pic_class {
    width: 200px;
    height: 200px;
    position: absolute;
    z-index: -1;
    margin-right: 10px;
}

#bases_placement {
    margin-top: -15px;
    margin-left: -110px;
}

#base_header {
    margin-top: -30px;
}

#base_name {
    width: auto;
    height: 35px;
    color: #fff;
    font-weight: 400;
    margin-top: 140px;
    font-size: 20px;
    padding-left: 2px;
    padding-top: 5px;
    text-align: center;
}

#the_bases {
    width: 200px;
    height: 200px;
    border: 3px solid #c8060c;
}

#choosen_age3 {
    margin-right: 20px;
    position: relative;
}

.sel_base_pic_class {
    float: left;
    width: 250px;
    height: auto;
    background-color: #fff;
    border: 2px solid #c8060c;
    margin-right: 10px;
}

#info_btn2 {
    height: 60px;
    margin-top: 130px;
    position: absolute;
    margin-left: 216px;
    font-size: 15px;
    box-shadow: 3px 3px 3px #b3b3b3, inset -2px -2px 3px 0px rgba(0,0,0,0.2), inset 2px 2px 3px 0px rgba(0,0,0,0.2);
    border: 0;
}

#sel_btn2 {
    /*Use xx-large insted of pixels there is a bug with the button shadow causing a white pixel border*/
    font-size: large;
    margin-left: 20px;
    margin-top: 130px;
    position: absolute;
    background-color: #FF7C00;
    height: 60px;
    text-transform: uppercase;
    box-shadow: 3px 3px 3px #b3b3b3, inset -2px -2px 3px 0px rgba(0,0,0,0.2), inset 2px 2px 3px 0px rgba(0,0,0,0.2);
    border: 0;
}

#the_sel_bases {
    width: 700px;
    background-color: #fff;
    height: 225px;
    overflow: auto;
    /*direction: rtl;*/
}

/*#age_p {
    position: absolute;
    color: #fff;
    font-weight: 700;
    height: 33px;
    background-color: rgba(0,0,0,.6);
    width: 113px;
    margin-left: 17px;
    margin-top: 57px;
    font-size: 10px;
    padding-left: 2px;
    padding-top: 2px;
}*/

#sel_base_name {
    font-weight: bold;
}

#where_you_are2 {
    /*margin-left: 410px;*/
    /*margin-top: 30px;
    position: absolute;*/
    font-size: 18px;
    color: #fff;
    font-weight: bold;
}

#base_template_placement_winlistview .win-listview {
    height: 242px;
    /*border: 2px solid pink;*/
    width: 1580px;
    /*dont use margins here use in .win-surface*/
}

#baseinfo_template_placement_winlistview .win-listview {
    height: 230px;
    width: 715px;
    float: left;
    /*border: 2px solid black;*/
    /*dont use margins here use in .win-surface*/
}

#sel_bases_placement {
    /*margin-top: -120px;
    width: 710px;
    height: 210px;
    overflow-y: auto;
    height: 270px;*/
    margin-top: 60px;
    margin-left: -105px;
}

/*Milo this actually works to fix glictch when too many products are hit at the same time, it DOES NOT SHOW UP IN THE CSS DOM eXPLORER DUNNO WHY BUT IT WORKS!!*/
#sel_bases_placement .win-viewport {
    overflow-x: hidden;
}

#contenthost {
    margin-top: 0;
}

#base_price {
    position: absolute;
}

#base_price_doller {
    position: absolute;
}

#base_price_div {
    float: right;
    margin-right: 70px;
    font-size: 30px;
}

#base_price_doll {
    position: absolute;
}


