.func section[role=main] {
    margin-left: 120px;
    margin-right: 120px;
    width: 600px;
}

.func_pic_class {
    width: 136px;
    height: 130px;
    position: absolute;
    z-index: -1;
    /*margin-right: 10px;*/
}

#funcs_placement {
    margin-top: -15px;
    margin-left: -110px;
}

#func_header {
    margin-top: -30px;
}

#func_name {
    width: auto;
    height: 35px;
    color: #fff;
    font-weight: 800;
    margin-top: 90px;
    background-color: rgba(0,0,0,.6);
    font-size: 14px;
    padding-left: 2px;
    padding-top: 5px;
}

#the_funcs {
    width: 130px;
    height: 130px;
    border: 3px solid #c8060c;
}

#choosen_age {
    margin-right: 20px;
    position: relative;
}

.sel_func_pic_class {
    float: left;
    width: 250px;
    height: auto;
    background-color: #fff;
    border: 2px solid #c8060c;
    margin-right: 10px;
}

#info_btn6 {
    height: 60px;
    margin-top: 130px;
    position: absolute;
    margin-left: 217px;
    font-size: 15px;
    box-shadow: 3px 3px 3px #b3b3b3, inset -2px -2px 3px 0px rgba(0,0,0,0.2), inset 2px 2px 3px 0px rgba(0,0,0,0.2);
    border: 0;
}

#sel_btn6 {
    /*margin-left: 5px;*/
    margin-top: 130px;
    position: absolute;
    background-color: #FF7C00;
    height: 60px;
    font-size: 20px;
    text-transform: uppercase;
    /*margin-left: 20px;*/
    box-shadow: 3px 3px 3px #b3b3b3, inset -2px -2px 3px 0px rgba(0,0,0,0.2), inset 2px 2px 3px 0px rgba(0,0,0,0.2);
    border: 0;
}

#the_sel_funcs {
    width: 620px;
    background-color: #fff;
    height: 200px;
    overflow: auto;
    /*direction: rtl;*/
}

#choosen_age {
    position: relative;
}

#sel_func_name {
    font-weight: bold;
}

#contenthost {
    margin-top: 0;
}

#win_listview_funcs_placement_row .win-listview {
    height: 325px;
    /*border: 2px solid pink;*/
    width: 750px;
/*dont use margins here use in .win-surface*/
}

#sel_funcs_placement {
    /*margin-top: -120px;*/
    margin-left: -100px;
    /*overflow-y: auto;*/
}

#win_listview_funcs_placement_sel .win-listview {
    height: 220px;
    width: 630px;
    float: left;
    /*border: 2px solid black;*/
    /*dont use margins here use in .win-surface or directly in id*/
}

#sel_funcs_placement .win-viewport {
    /*Milo overflow-x hidden works to fix glitch when too many products are hit at the same time, it DOES NOT SHOW UP IN THE CSS DOM eXPLORER DUNNO WHY BUT IT WORKS!!*/
    overflow-x: hidden;
    height: 220px;
    /*border: 2px solid green;*/
    /*width: 640px;*/
}

/*#funcs_placement .win-viewport {
    overflow-x: hidden;
    height: 220px;
    border: 2px solid green;
    width: 640px;
}*/

#funcs_placement .win-viewport {
    height: 320px;
    /*border: 2px solid green;*/
    width: 1578px;
}

#funcs_placement .win-container {
    width: 136px;
    height: 136px;
}

    #funcs_placement .win-focus.win-container .win-focusedoutline {
    outline: red dashed 2px;
    }

#funcs_placement .win-surface {
    /*width: 1550px;*/
    margin: 5px;
    /*border: 2px solid blue;*/
}

#age_p {
    position: absolute;
    color: #fff;
    font-weight: 700;
    height: 33px;
    background-color: rgba(0,0,0,.6);
    width: 113px;
    margin-left: 17px;
    margin-top: 57px;
    font-size: 10px;
    padding-left: 2px;
    padding-top: 2px;
}

#age_pic {
    border: 2px solid #fff;
    margin-left: 15px;
    float: left;
}

#where_you_are1 {
    margin-left: 275px;
    margin-top: 30px;
    position: absolute;
    font-size: 18px;
    color: #fff;
    font-weight: bold;
}

#myPopupUI{
    text-align: left;
    width: 700px;
    height: 600px;
    border: 1px solid black;
    background-color: #C8C8C8;
    color: black;
    opacity: 0;
    z-index: 1;
}

#myPopupUI p{
    position: relative;
    left: 10px;
}

#popup_button {
    float: right;
}

#popup_content {
    float: right;
}

#popup_div {
    float: right;
}

#progressRing {
    position: absolute;
    margin-top: 250px;
    margin-left: 750px;
}
