body {
}

.homepage section[role=main] {
    margin-left: 120px;
    margin-right: 120px;
}

#home_content22 {
    margin-left: 10px;
    color: #000;
    font-size: 30px;
    /*margin-top: -100px;*/
    width: 100%;
}

.age_bg2 {
    position: absolute;
    width: 120px;
    height: 120px;
    margin-top: 0px;
    z-index: -1;
}
    #age_template_placement22 .win-container {
        width: 126px;
        height: 126px;
    }
        #age_display22 {
            width: 120px;
            height: 120px;
            border: 3px solid #c8060c;
        }

#underline_home2 {
    margin-top: 35px;
}

#user_age22 {
    /*width: 280px;*/
    /*background-color: rgba(0,0,0,.6);*/
    margin-left: 0px;
    height: 24px;
    margin-top: 60px;
    color: #fff;
    font-size: 50px;
    /*padding: 10px;*/
    font-weight: 200;
    font-size: 20px;
    text-align: center;
}

#info_display {
    width: 800px;
    height: 540px;
    margin-top: -200px;
    background-color: #000;
    border-top: 1px solid rgba(194, 191, 191, 0.54);
}

#info_text22 {
    width: 500px;
    height: 40px;
    color: #000;
    font-weight: 500;
    margin-left: 210px;
    font-size: 14px;
}

.info_pic {
    float: left;
    width: 200px;
    height: auto;
    background-color: #fff;
    border: 2px solid #c8060c;
}

#age_info_template {
    background-color: #fff;
    border: 2px solid #c8060c;
}

#info_btn22 {
    height: 60px;
    margin-top: 128px;
    position: absolute;
    margin-left: 267px;
    font-size: 15px;
    box-shadow: 3px 3px 3px #b3b3b3, inset -2px -2px 3px 0px rgba(0,0,0,0.2), inset 2px 2px 3px 0px rgba(0,0,0,0.2);
    border: 0;
}

#sel_btn22 {
    /*margin-left: 5px;*/
    margin-top: 128px;
    position: absolute;
    background-color: #FF7C00;
    height: 60px;
    font-size: 20px;
    text-transform: uppercase;
    box-shadow: 3px 3px 3px #b3b3b3, inset -2px -2px 3px 0px rgba(0,0,0,0.2), inset 2px 2px 3px 0px rgba(0,0,0,0.2);
    border: 0;
}

#sel_age_name22 {
    margin-bottom: 0;
    font-weight: bold;
    padding-left: 100px;
}

#sel_age_pic22 {
    margin-right: 10px;
}

/*Do not ever use this its a class, use only CURRENTLY in default.css*/
/*.win-listview > .win-viewport.win-horizontal {
    overflow-x: hidden;
}*/
/*Milo this actually works to fix glictch when too many products are hit at the same time, it DOES NOT SHOW UP IN THE CSS DOM eXPLORER DUNNO WHY BUT IT WORKS!!*/

#age_template_placement_winlistview22 .win-listview {
    height: 325px;
    /*border: 2px solid pink;*/
    width: 1580px;
    /*dont use margins here use in .win-surface*/
}

#info_template_placement_winlistview .win-listview {
    height: 200px;
    width: 715px;
    float: left;
    /*border: 2px solid black;*/
    /*dont use margins here use in .win-surface*/
}

#info_template_placement22 {
    /*milo: .win-listview above cancels the styles below out and negative margin is just bad styling */

    /*margin-top: -90px;
    width: 710px;
    height: 220px;*/
}

#info_template_placement22 .win-viewport {
    overflow-x: hidden;
}

#home_header22 {
    margin-top: -30px;
}

#age_template_placement22 {
    margin-top: -15px;
}

/*#age_p22 {
    position: absolute;
    color: #fff;
    font-weight: 700;
    height: 33px;
    background-color: rgba(0,0,0,.6);
    width: 113px;
    margin-left: 17px;
    margin-top: 57px;
    font-size: 10px;
    padding-left: 2px;
    padding-top: 2px;
}*/

/*#age_pic22 {
    border: 2px solid #fff;
    margin-left: 15px;
    float: left;
}*/

#where_you_are22 {
    margin-top: 30px;
    position: absolute;
    font-size: 18px;
    color: #fff;
    font-weight: bold;
}

#nutrigenetics_price {
    position: absolute;

}

#nutrigenetics_price_div {
    float: right;
    margin-right: 70px;
}

#id_sel22 {
    position: absolute;
    margin-top: -100px;
}